# Ignore node_modules in all subfolders
**/node_modules/

# Ignore all .env files in any project
**/.env

# Ignore build/dist folders
**/build/
**/dist/

# Ignore log files
**/*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
